html { background-color: black url(pexels.jpg) center center no-repeat; background-size: cover; color:#ffff}
body { display: block; margin:0; place-items: center; font-family:Helvetica, sans-serif; font-size: 16px; line-height: 1.5em; }
@media (min-width: 500px) {body {display:grid;}}
.Container {background: rgba(156, 170, 233, 0.8); padding: 1rem;  font-size: clamp(1rem,2vw,2rem); line-height: 1.5em; }
@media (min-width:300px) {.Container {margin: 2vw; padding: 2rem; border-radius: 2rem;}}
@media (min-width: 800px) {.Container {margin: 4vw; padding: 3vw;}}
    header { 
    }
        .Avatar { display: block;  width: 112px; height: auto; margin: 0 1em 1em 0; border-radius: 50%}
        @media (min-width: 420px) {.Avatar {float: left;}}
        @media (min-width: 800px) {.Avatar {width: 200px;}}
        .TitlulPaginii { display: block; margin: 0; font-size: clamp(2rem, 6vw, 4rem); line-height: 1em; }
        .DescrierePrincipala { display: block; margin: 0.5em 0 1,5em;}
        main{ clear:both;   }
        .ListaLinkuri {display:block; margin: 0; padding: 0; border-top: 1px solid #ffff; }
            .ListaItem {display: block; margin: 0; padding: 0; border-bottom: 1px solid #ffff;}
                .ListaLink { display: block; padding: 0.5em; color: #ffff; text-decoration: none;}
                .ListaLink:hover {background: rgb(98, 54, 180); color:rgba(156, 170, 233, 0.6)}
                    .ListaTitlu, .ListaText {display: block; font-size: 1em; line-height: 1.5em; margin: 0; padding: 0; color: #ffff; text-decoration: none;}
                    .ListaText {white-space: nowrap; overflow:hidden; text-overflow: ellipsis; }
                    